body {
    background-color: #393081 !important;
}

.content {
    background-color: #D9D9D9;
    padding: 40px;
    margin: 50px auto;
    border-radius:20px;
}

.background-grey {
    background-color:grey !important;
}

.background-section-active {
    background-color:#E2C885 !important;
}

.page-break {
    page-break-after: always;
    page-break-before: always;
}
